.login-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.login-form input {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
}
